{% extends "layout.html" %}

{% block title %}
   Campsites
{% endblock %}

{% block main %}
<table class="table table-md borderless">
   <thead>
      <th>Resource</th>
      <th>Website</th>
   </thead>
   <tr>
      <td>BLM Map</td>
      <td><a href="https://blm-egis.maps.arcgis.com/apps/View/index.html?appid=a6b1bc529b344e36a1d9d4d729bc03f7">https://blm-egis.maps.arcgis.com/apps/View/index.html?appid=a6b1bc529b344e36a1d9d4d729bc03f7</a></td>
   </tr>
   <tr>
      <td>BLM Search</td>
      <td><a href="https://www.blm.gov/visit/search?field_activities=100001">https://www.blm.gov/visit/search?field_activities=100001</a></td>
   </tr>
   <tr>
      <td>FreeCampsites.net</td>
      <td><a href="https://freecampsites.net/">https://freecampsites.net/</a></td>
   </tr>
   <tr>
      <td>Colorado Parks and Wildlife Map</td>
      <td><a href="https://cpw.state.co.us/placestogo/parks/Pages/ParkMap.aspx">https://cpw.state.co.us/placestogo/parks/Pages/ParkMap.aspx</a></td>
   </tr>
   <tr>
      <td>Camp Colorado - Campground & RV Park Search/Map</td>
      <td><a href="https://campcolorado.com/campground-search/?poimap=%7B%22member%22%3A%5B%221%22%5D%2C%22near%22%3A%5B%22any%22%5D%2C%22radius%22%3A%5B%2210%22%5D%2C%22is_campground%22%3A%5B%221%22%5D%2C%22text-search%22%3A%22%22%2C%22sort%22%3A%22member%22%2C%22sort-order%22%3A%22DESC%22%7D">https://campcolorado.com/campground-search/</a></td>
   </tr>
   <tr>
      <td>iOverlander</td>
      <td><a href="https://ioverlander.com/">https://ioverlander.com/</a></td>
   </tr>
   <tr>
      <td>Free Roam</td>
      <td><a href="https://freeroam.app/">https://freeroam.app/</a></td>
   </tr>
   <tr>
   <tr>
      <td>Campendium</td>
      <td><a href="https://www.campendium.com/">https://www.campendium.com/</a></td>
   </tr>
      <td>Colorado.com</td>
      <td><a href="https://www.colorado.com/co/outdoor-recreation/camping">https://www.colorado.com/co/outdoor-recreation/camping</a></td>
   </tr>
   <tr>
      <td>Colorado National Forests</td>
      <td><a href="https://www.uncovercolorado.com/national-forests/">https://www.uncovercolorado.com/national-forests/</a></td>
   </tr>
   <tr>
      <td>Fox In The Forest - Colorado</td>
      <td><a href="https://www.foxintheforest.net/free-camping-in-colorado/#:~:text=14%20Spots%20that%20Offer%20Unbelievable%20Free%20Camping%20in,Forest%20Road%20788%20in%20Gunnison%20...%20More%20items">https://www.foxintheforest.net/free-camping-in-colorado/</a></td>
   </tr>
   <tr>
      <td>Fox In The Forest - Denver Area</td>
      <td><a href="https://www.foxintheforest.net/dispersed-free-camping-near-denver/">https://www.foxintheforest.net/dispersed-free-camping-near-denver/</a></td>
   </tr>
   <tr>
      <td>Fox In The Forest - USA Camping Guide</td>
      <td><a href="https://www.foxintheforest.net/guide-free-camping-usa/">https://www.foxintheforest.net/guide-free-camping-usa/</a></td>
   </tr>
</table>
{% endblock %}